<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <script src="../../services/request.js"></script>
  <script src="../../services/user.js"></script>
  <script src="registration.js"></script>
  <link rel="stylesheet" href="registration.css">
</head>

<body>
  <div>
    <input type="text" id="username">
    <input type="password" id="secret">
    <input type="number" id="age">
    <input type="url" id="profileImageUrl">
    <button onclick="onRegister()">Register</button>
    <button onclick="back()">Back</button>
  </div>
</body>

</html>
